.wang-editor-container {
    background-color: #fff;
    color: #000;
}

.dark-mode {
    background-color: #1e1e1e;
    color: #ccc;
}

.dark-mode .w-e-text-container {
    background-color: #222;
    color: #ccc;
}

.dark-mode .w-e-toolbar {
    background-color: #222;
    border-color: #444;
}

.dark-mode .w-e-menu {
    color: #ccc;
}

.dark-mode .w-e-menu:hover {
    background-color: #444;
}

.dark-mode .w-e-text-container:focus {
    border: 1px solid #888;
}